
@font-face {
  font-family: 'Historia';
  src:url(./fonts/Historia.ttf) format('truetype'); }

body {
  font-family: 'Roboto', sans-serif; ; }

h1 {
  font-size: 250px;
  font-family: 'Historia';
  color: #fafafa;
  font-weight: 250;
  text-shadow: 4px 4px 6px #0d98ba;
  margin-top: -70px;
}
  @media (max-width: 1200px) {
    h1 {
      font-size: 150px; } }
  @media (max-width: 992px) {
    h1 {
      font-size: 100px; } }

h2 {
  font-size: 47px; }
  @media (max-width: 768px) {
    h2 {
      font-size: 34px; } }

h3 {
  font-size: 35px; }
  @media (max-width: 992px) {
    h3 {
      font-size: 30px; } }

h4 {
  font-size: 30px; }

h5 {
  font-size: 28px; }
  @media (max-width: 768px) {
    h5 {
      font-size: 22px; } }

h6 {
  font-size: 21px;
  font-weight: 400; }

p {
  font-size: 15px; }

  .portfolio-item {
    margin-bottom: 30px;
  }
  
  .pagination {
    margin-bottom: 30px;
  }
  

.main-block {
  padding: 90px 0; }
  @media (max-width: 768px) {
    .main-block {
      padding: 45px 0; } }

.light-bg {
  background: #f3f4f7; }

.dark-bg {
  background: #252a33; }

  .styled-heading {
    text-align: center;
    margin: 0 0 50px; }
    @media (max-width: 768px) {
      .styled-heading {
        margin: 0 0 30px; } }
    .styled-heading h3 {
      position: relative;
      padding: 0 0 23px; }
      .styled-heading h3:after {
        position: absolute;
        content: "";
        width: 60px;
        height: 3px;
        background: #0d98ba;
        bottom: 0;
        left: 50%;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%); }

/* header */

.nav-menu {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  left: 0;
  margin: 0 auto; }

.nav-menu-2 {
  position: inherit; }

.navbar {
  padding: .5rem 0; }

.navbar-light .navbar-nav .nav-link {
  font-size: 16px;
  font-weight: 300;
  color: #fff; }

  .navbar-light .navbar-nav .nav-link:hover {
    color: #d3d3d3; }

.navbar-light .navbar-toggler {
  color: #fff;
  border-color: #fff; }

@media (max-width: 992px) {
  .navbar-nav {
    padding: 7px 20px; } }

.nav-item {
  margin: 0 20px 0 0; }
  .nav-item span {
    font-size: 10px;
    margin: 0 0 0 4px; }

.transition {
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out; }

.fixed {
  border-bottom: 1px solid #636363;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  border: none;
  background: #252a33; }

  /* search */

.slider {
  background: url(./Images/slider1.jpg) no-repeat;
  background-size: cover;
  min-height: 750px; }
  @media (max-width: 992px) {
    .slider {
      min-height: 700px; } }

.slider-title_box {
  text-align: center; }

.slider-content_wrap h5 {
  color:#fafafa;
  text-shadow: 2px 2px 4px #333333;
  font-weight: 400;
  margin: 24px 0; }

@media (max-width: 480px) {
  .form-wrap {
    margin: 0 !important; } }

.btn-group {
  width: 100%; }
  @media (max-width: 576px) {
    .btn-group {
      display: block; } }

.btn-group1 {
  font-size: 18px;
  padding: 24px;
  width: 80%;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  border: none; }
  @media (max-width: 576px) {
    .btn-group1 {
      width: 100%;
      border-radius: 3px;
      margin: 0 0 10px;
      padding: 17px; } }


.btn-form {
  font-weight: 400;
  font-size: 18px;
  padding: 24px;
  width: 150%;
  background: #0d98ba;
  color: #ffffff;
  border: none;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px; }
  @media (max-width: 768px) {
    .btn-form {
      width: auto; } }
  @media (max-width: 576px) {
    .btn-form {
      width: 100%;
      border-radius: 3px; } }

.search-icon {
  font-size: 15px;
  padding-right: 10px; }

/* categories */

@media (max-width: 992px) {
  .category-responsive {
    max-width: 50%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 50%;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%; } }

@media (max-width: 576px) {
  .category-responsive {
    max-width: 100%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%; } }

.category-wrap:hover {
  text-decoration: none; }

.category-wrap:hover .category-block {
  background: #0d98ba;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; }

.category-wrap:hover .category-img path {
  text-decoration: none;
  fill: #fff;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; }

.category-wrap:hover .category-block h6 {
  color: #fff;
  text-decoration: none; }

.category-block {
  margin: 0 auto;
  text-align: center;
  border: 1px solid #e5e7ef;
  padding: 30px;
  margin: 0 0 30px; }
  .category-block h6 {
    color: #3e434b;
    margin: 10px 0 0; }

.category-img {
  width: 64px;
  height: 64px; }


/* ==============================================================
   FOOTER
   ============================================================== */
footer {
  position: relative; }

  #link:link, #link:visited {
    color: #0d98ba;

}

#link:hover, #link:active {
    color:white;
}

.criollo {
  padding-top: 20px
}

.copyright {
  text-align: center; }
  .copyright p {
    font-size: 18px;
    font-weight: 400;
    color: #ccc;
    margin: 0; }
  .copyright ul {
    margin: 25px 0 0;
    padding: 0; }
    .copyright ul li {
      list-style: none;
      display: inline-block; }
      .copyright ul li a {
        color: #ccc;
        font-size: 22px;
        padding: 0 10px;
        opacity: 0.6;
        -webkit-transition: 0.3s;
        -o-transition: 0.3s;
        transition: 0.3s; }
        .copyright ul li a:hover {
          opacity: 1;
          text-decoration: none; }
